.aboutMeSection {
    width:85%;
    margin: auto;
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   

}

.aboutMe__image {
    flex-basis: 50%;
    text-align: center;
}

.aboutMe__text {
    flex-basis: 50%;
    text-align: center
}

.aboutMe__text h2 {
    margin-bottom: 50px;
}