.cardsSection {
    padding: 30px 20px;
    width: 95%;
    display: grid;
    min-height: 100vh;
    place-items: start;
    line-height: 1.6;
    background: #13181c;
    font-family: sans-serif;
    grid-template-rows: auto auto auto;
    margin: 40px auto;
    gap: 20px 10px;
}



.cardMakeUp {
    color: white;
    background-image: url(../img/makijaz1.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 34ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.cardMakeUp:hover {
    transform: scale(1.05);
}

.cardNuSkin {
    color: white;
    background-image: url(../img/nuskin_card);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 34ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    justify-self: end;
   
    
}

.cardNuSkin:hover {
    transform: scale(1.05);
}

.cardCooperation {
    color: white;
    background-image: url(../img/wspolpraca_card.jpg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 34ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.cardCooperation:hover {
    transform: scale(1.05);
}

.cardContent {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
    transform: translateY(60%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
}

.cardContent > *:not(.cardTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.cardMakeUp:hover .cardContent {
    transform: translateY(0%);
}

.cardMakeUp:hover .cardContent > * {
    opacity: 1;
}

.cardNuSkin:hover .cardContent {
    transform: translateY(0%);
}

.cardNuSkin:hover .cardContent > * {
    opacity: 1;
}

.cardCooperation:hover .cardContent {
    transform: translateY(0%);
}

.cardCooperation:hover .cardContent > * {
    opacity: 1;
}



.cardTitle {
    position: relative;
    width: max-content;
}

.cardTitle::after {
    content: "";
    background: teal;
    height: 3px;
    position: absolute;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.cardMakeUp:hover .cardTitle::after {
    transform: scaleX(1);
}

.cardNuSkin:hover .cardTitle::after {
    transform: scaleX(1);
}

.cardCooperation:hover .cardTitle::after {
    transform: scaleX(1);
}