.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background_nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    
}

   


header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px 15px;
}

.navList {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px 50px 5px 0px;
}

.navList__item--Content {
    text-decoration: none;
    width: 100px;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navList__item {
    padding: 10px 30px 10px 0px;
}

.logo {
    font-size: 2rem;
    color: goldenrod;
    text-transform: uppercase;
}